# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# PyInstaller
dist/
build/
*.spec

# Logs
*.log
